@media (min-width: 1281px) {
  .sssearch{margin-left: 13% !important; margin-top: -2% !important;}
  .axtarbutton{ margin-left: 34.5% !important; margin-top: -1.2% !important;}
  .panelll{margin-left: 280% !important;}
  .checkler{margin-top: -95%; margin-left: -35% !important;}
  .container{margin-top: -20% !important; margin-left: 25%!important;}
  .prolist{margin-top: -70% !important;}
}	
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.dred{margin-left: -20% !important; margin-top: -2%!important;}
	.uzunnugdred{width: 1275px !important;}
	.obwi1s{margin-left: -10% !important;}
	.panelll{margin-left: -120% !important;}
	.brand-logo{margin-left: -42% !important;}
	.homekontakt{ width: 150px !important;}
	.inputtse{width: 300px !important;}
	.sssearch{margin-left: 15% !important; margin-top: -8% !important;}
	.axtarbutton{margin-left: 34.5% !important; margin-top: -5.1% !important;}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.dred{margin-left: -20% !important; margin-top: -2%!important;}
	.obwi1s{margin-left: -20% !important;}
	.brand-logo{margin-left: -42% !important;}
	.panelll{margin-left: -10% !important;}
	.homekontakt{ width: 150px !important;}
	.inputtse{width: 200px !important; height: 25px !important;}
	.sssearch{margin-left: 20% !important; margin-top: -14% !important;}
	.axtarbutton{margin-left: 34.5% !important; margin-top: -8.5% !important;}
	.balaca{width: 50px !important; height: 30px !important;}
}


.logokontakt{
	position: relative; 
	margin-top: -7.4%; 
	max-height:100px; 
	padding-left:35px; 
	margin-left: 5.5%;
}
.hhover a:hover{background: none;}
.axtar{
	background-image: linear-gradient(to top, #020202, #191919, #2b292a, #3d3b3b, #514d4d); 
	margin-left: 65.7%; 
	width: 121px; 
	height: 39px; 
	margin-top: -34.8px; 
	text-transform: none !important; 
	border-radius: 0 10px 10px 0 !important;
}
.esassehife{	
	background: none !important;
	box-shadow: none !important;
	width: 1119px;
	margin-left: 70px;
}	
.esassehifehover:hover{
	text-decoration: underline;
}
.telefonsatisi{
	font-size: 21px;
	font-weight: bold;
	margin-left: 70px;
}
#telefonalt{
	font-size: 14px;
	margin-left: 70px;
}
.left{
	float:left;
	margin-left: 15px;
	margin-top: 8px;
}
.panelsiralama{
	padding: 0px 0px 20px;
	border: 1px solid #E9EBED;
	background-color: #f5f5f5 !important;
	width: 943px !important; 
	height: 42px;
	border-radius: 5px;
}
.panel{
	color: black;
	font-size: 13px;
}
.panel:hover{
	text-decoration: underline;
}
.tentex{
	width: 243px;
	height: 33px;
	padding: 9px 0px 0px 15px !important;
	font-size: 13px;
	color: black !important;
}	
.tentex:hover{
	background-color: #d10000 !important;
}	
.obwi:hover{
	border: 1px solid #d10000;
	width: 243px;
}
#tableten{
	border-radius: 5px !important;
	width: 243px;
	margin-left: 68px;
}
#check{
	margin-left: 80px;
}
.telname{
	margin-left: -10%;
	font-size: 13px;
}
.left1vs4{
	margin-left: 9% !important;
}

.price{
	font-size: 20px;
}
#chosee{
	position: absolute;
	margin-top: 30%;	
}
.row{
	position: relative;
	margin-left: 20%;
}
#phohone{

}